backend/target/
backend/*.jar
backend/*.war
backend/*.log
backend/*.class
backend/.idea/
backend/*.iml

frontend/node_modules/
frontend/dist/
frontend/.angular/cache/
frontend/.vscode/
frontend/.editorconfig
frontend/.gitignore
frontend/*.zip

.git/
.gitignore
.dockerignore
Dockerfile
README.md
*.md

.idea/
*.iml
.vscode/

.DS_Store
Thumbs.db
