<h2 mat-dialog-title>Adicionar Livro</h2>
<mat-dialog-content>
  <form (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput [(ngModel)]="book.title" name="title" required maxlength="50" placeholder="Título">
    </mat-form-field>
    <mat-form-field>
      <mat-select [(ngModel)]="book.category" name="category" required>
        <mat-option value="INFORMATICA">Informática</mat-option>
        <mat-option value="CIENCIAS">Ciências</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="book.copies" name="copies" type="number" required min="1" max="99" placeholder="Exemplares">
    </mat-form-field>
    <button mat-button type="submit">Adicionar</button>
    <button mat-button type="button" (click)="onCancel()">Cancelar</button>
  </form>
</mat-dialog-content>
